body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  font-size: 4.5em;
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px #000;
  color: #ff0080;
}

p {
  font-size: 3em;
  text-align: center;
  margin: 0;
  text-shadow: 1px 1px #000;
  color: #000;
  animation: blink 1s ease-in-out;
  animation-iteration-count: 3;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
